body{
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100vh;
    background-color: rgb(76, 146, 226, 0.795);
    background-image: url("../../img/pageNotFound/pagina-en-construccion.png");
    background-repeat: no-repeat;
    background-position:center center;
    background-attachment: fixed;
}
